.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin-bottom: 20%;
}

.card {
    position: relative;
    width: 320px;
    height: 450px;
    margin: 30px;
    background: linear-gradient(to bottom, #24FF72, #008ae6);
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 var(--textLightGreen),
        inset 0 -15px 0 rgba(255, 255, 255, 0.25),
        0 45px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card::before {
    content: '';
    position: absolute;
    top: -140px;
    left: -40%;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

.icon {
    position: relative;
    width: 140px;
    height: 120px;
    background: var(--midnightBlue);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
        inset 0 -8px 0 var(--textLightGreen);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px var(--midnightBlue);
}

.icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px var(--midnightBlue);
}

.icon ion-icon {
    color: var(--textLightGreen);
    position: relative;
    font-size: 6rem;
    z-index: 10000;
    --ionicon-stroke-width: 24px;
}

/* .icon:hover:before , .icon:active:before{
    content: url('images/backflipdog.gif');
    left: -90px;
    position: absolute;
    overflow: visible;
    display: block;
    width: 100%;
    z-index: 1;
} */

#LuckPreview:hover, #LuckPreview:active{
    content:url('images/LuckPreview.png');
    position: absolute;
    overflow: visible;
    display: block;
    width: 100%;
    height: 50%;
    top: -15%;
}

.content {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 140px;
    text-align: center;
}

.content h2 {
    font-size: 1.75rem;
    color: white;
    margin-bottom: 10px;
    font-family: Orbitron;
    letter-spacing: 2px;;
}

.content p {
    color: white;
    line-height: 1.5rem;
    font-family: Open Sans;
    text-align: center;
}